@import "../assets/scss/variables";

.Wrapper {
  position: absolute;
  width: 70%;
  height: 650px;
  left: 30%;
  top: 60px;
  background: white;

  &.Visible {
    display: block;
  }

  &.Hidden {
    display: none;
  }

  .Pseudo {
    width: 120px;
    height: 700px;
    position: absolute;
    z-index: 180;
    top: 0;
    left: 0;
    background: white;
  }

  .Winner {
    position: relative;
    margin-top: 50px;
    margin-left: 392px;
    z-index: 180;

    .BalloonIdleWrapper {
      position: absolute;
    }

    .Box {
      border: 2px solid black;
      position: absolute;
      margin-top: 243px;
      margin-left: 45px;
      width: 140px;
      height: 140px;
      background-color: white;

      .Avatar {
      }
    }
  }

  .Winner.Appear {
    animation: appear 2s linear;
  }

  .Winner.Float {
    animation: float 2s linear infinite;
  }

  .Winner.Disappear {
    animation: disappear 4s linear;
  }

  .Footer {
    position: absolute;
    width: 100%;
    top: 550px;
    z-index: 180;

    .Button {
      text-transform: uppercase;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: black 5px solid;
      font-size: $font3;
      cursor: pointer;
      background-color: black;
      color: white;
      width: 250px;
    }

    .BtnAgain {
      position: absolute;
      width: 200px;
      left: 35%;
      transform: translateX(-50%);
      font-size: $font4;
      z-index: 1;
    }

    .BtnReturn {
      position: absolute;
      width: 250px;
      left: 65%;
      transform: translateX(-50%);
      font-size: $font4;
      z-index: 1;
    }

    .WaitingText {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: $font3;
      color: black;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
    }
  }

  .WinnerText {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $font5;
    z-index: 180;
    background: rgba(255, 255, 255, 0.8);
    padding: 0 10px;
    text-align: center;
    border-radius: 10px;
  }

  .Higher {
    top: 350px;
  }

  @keyframes appear {
    0% {
      margin-top: 300px;
    }
    100% {
      margin-top: 50px;
    }
  }

  @keyframes disappear {
    0% {
      margin-top: 50px;
    }
    100% {
      margin-top: -1000px;
    }
  }

  @keyframes float {
    0% {
      margin-top: 50px;
    }
    25% {
      margin-top: 40px;
    }
    75% {
      margin-top: 60px;
    }
    100% {
      margin-top: 50px;
    }
  }
}