body {
    font-family: Photograph, sans-serif;
    display: flex;
    align-items: center;
    background: white;
}

#root {
    margin: auto;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.d-inline-block {
    display: inline-block;
}

.flex-column {
    flex-direction: column;
}

.mx-auto {
    margin: 0 auto;
}

.m-auto {
    margin: auto;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
}

.h1, h1 {
    font-size: 3.3rem;
}

.h2, h2 {
    font-size: 2rem;
}

.h5, h5 {
    font-size: 1.25rem;
}

.text-xl {
    font-size: 3.6rem;
}

.text-md {
    font-size: 2.7rem;
}

.button {
    background: black;
    color: white;
    font-size: 30px;
    outline: none;
    border: none;
    font-family: Photograph, sans-serif;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.text-cap {
    text-transform: uppercase;
}